.list {
  flex: 1;
  display: flex;
  flex-direction: column;

  .list::-webkit-scrollbar {
    width: 8px;
  }

  .list::-webkit-scrollbar-track {
    background: #f50202;
    /* color of the track */
  }

  .list::-webkit-scrollbar-thumb {
    background-color: #06468f;
    /* color of the scrollbar */
    border-radius: 10px;
    /* roundness of the thumb */
  }

  /* For Firefox */
  .list {
    scrollbar-width: thin;
    scrollbar-color: #00162e #f1f1f1;
    /* thumb and track color */
  }

  /* For Internet Explorer */
  .list {
    scrollbar-face-color: #4a90e2;
    /* color of the scrollbar */
    scrollbar-arrow-color: #ffffff;
    /* color of the scrollbar arrow */
  }

  /* background-color: lightblue; */
}